*{
    margin: 0px;
    padding: 0px;
}
img{
    width: 100%;
}
.material-symbols-outlined{
    font-size: 80%;
}
.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
    a{
        text-decoration: none;
    }
}
.conteiner{
    width: 91.66666666666667%;
    margin: 0 auto;
}
.body{
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius:0 0 12px 12px ;
    &__div{
        background-image: url("../images/symbol.svg");
        background-repeat:no-repeat ;
        background-position: center;
    }
}
.header{
    padding-top: 50px;
    &__div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link{
        color: #E6E6F0;
    }
    &__menu{
    width: 478px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    }
    &__menu-info{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            color:#E6E6F0;
        }
    }
    &__marker{
        width: 6px;
        height: 6px;
        border-radius: 50px;
        background-color: #E6E6F0;
    }
    &__menu-info-language{
        font-size: 12px;
        a{
            padding: 5px;
            border-radius: 8px;
            &:last-child{
                background-color: #F0145A;
            }
        }
        a:hover{
            background-color: #FFFFFF33;
        }
    }
    &__menu-info-map{
        font-weight: 400;
    }
    &__box{
        width: 87.02928870292887%;
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        a:hover{
            text-decoration:underline 2px;
            text-underline-offset: 3px;
        }
    }
    &__button, .close{
        display: none;
    }
    &__btn{
        background-color: rgba(255, 255, 255, 0);
        border: none;
        display: none;
    }
    &__menu-info-facebook-svg{
        color: white;
        :hover{
            color: #F0145A;
        }
    }
    &__logo{
        a{
            color: white;
            display: flex;
        }
    }
    &__h3{
        font-weight: 400;
        font-size: 36px;
    }
    .active-link{
        color: #F0145A;
        text-decoration: underline 2px;
        text-underline-offset: 3px;
        
    }
}
.link-page{
    color: #24A3FF;
    font-size: 14px;
    letter-spacing:1px;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__h1{
        margin-top: 261px; 
    }
    &__svg{
        margin-top: 305px;
    }
}
.title{
    font-size: 2.375em;
    color: #FFFFFF;
    &__color{
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
    }
}
.compani{
    display: flex;
    align-items: center;
    gap: 60px;
    width: 75%;
    padding: 60px 0;
    margin: 0 auto;
    &__nav{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: end;
        gap: 15px;
        width: 375px;
        overflow-x: auto;
        a{
            color: #B3B3BA;
            white-space: pre;
         &:hover{
            color: #F0145A;
         }   
        }
        :first-child{
            background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &__span{
        width: 4px;
        height: 233px;
        background-color: #FFFFFF4D;

    }
    &__div{
        width: 53.7962962962963%;
        color: #FFFFFF;
        h2{
            font-size: 1.875em;
        }
        p{
            margin-top: 30px;
            font-size: 19px;
        }
    }
}
.services-option{
    margin-top: 60px;
}
.services{
    padding-bottom: 60px;
    &__div{
        margin-bottom: 30px;
    }
    &__h2{
        margin-top: 10px;
    }
    &__section{
        margin-top:60px ;
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
        gap: 60px normal;
    }
    &__section-div{
        width: 30%;
    }
    &__img{
        display:inline-block;
        padding: 14px;
        background-color: #FFFFFF;
        border-radius: 24px;
    }
    &__h3{
        margin-top: 30px;
        font-size: 1.375em;
        color: #24A3FF;
    }
    &__p{
        margin-top: 15px;
        font-weight: 400;
        color: #FFFFFF;
    }
}
.shadow{
    margin-bottom: 60px;
    span{
        height: 10px;
        display: flex;
        margin: 0 auto;
        border-radius: 0 0 12px 12px ;
    }
    span:first-child{
        background-color: #CACADB;
        width: 97.22222222222222%;
    }
    span:last-child{
        width: 94.44444444444444%;
        background-color: #E7E7F2;
    }
}
.slick{
    height: 344px;
    &__div{
        display: flex;
    }
    &__div-img{
        width: 30.3030303030303%;
    }
    &__div-info{
        padding: 30px;
        width: 69%;
    }
    &__h2{
        padding: 5px 0 0 0;
    }
    &__p{
     color: #B3B3BA;
     padding-top: 30px;
     &:last-child{
        padding-top:6px ;
        font-size: 14px;
        font-weight: 400;
        color: #b3b3babb;
     }    
    }
}
.cooperation{
    margin-top: 60px;
    &__h2{
        width: fit-content;
        font-size: 14px;
        margin: 106px auto 30px auto;
    }
    &>div{
        display: flex;
        flex-wrap: wrap; 
    }
    &__div{
        height:120px;
        width: 25%;
        display: flex;
        &:first-child{
            background-color: #1C4280;
        }
        &:nth-child(2){
            background-color:#143646 ;
        }   
        &:nth-child(3){
            background: linear-gradient(0deg, #F48B30, #F48B30)

        }
        &:nth-child(4){
            background-color:#9E4DC3 ;
        }   
        &:nth-child(5){
            background-color:#FD9339 ;
        }   
        &:nth-child(6){
            background-color:#E2E2E4 ;
        }   
        &:nth-child(7){
            background-color:#C71C36 ;
        }
        &:nth-child(8){
            background-color:#DCF3F9 ;
        }   
        &:nth-child(9){
            background-color:#EAEAEA ;
        }   
        &:nth-child(10){
            background-color:#282240 ;
        }
        &:nth-child(11){
            background-color:#1D4568 ;
        }   
        &:last-child{
            background-color: #000000;
        }  
        
    }
    &__img{
        margin: auto auto;
        width: fit-content;
    }    
}
.publications{
    margin-top: 30px;
    margin-bottom: 60px;
    &__div{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    &__h2{
        margin-top:10px ;
    }
}
.section{
    width: 31.81818181818182%;
    &__div{
        margin: 0 auto;
        width: 85.71428571428571%;    
    }
    &__h4{
        margin-top: 30px;
        color: #24A3FF;
    }
    &__title{
        margin-top: 15px;
        color: #B3B3BA;
        font-size: 12px;
    }
    &__span{
        display: flex;
        margin:15px 0 ;
        width: 100%;
        height: 4px;
        background-color: #E6E6F0;
    }
    &__p{
        font-weight: 400;
        font-size: 14px;

    }
}
.footer {
    padding-top: 30px;
    border-top: 2px solid #e2e0ff;
    display: flex;
    justify-content: space-between;
    &__svg{
        color: #24A3FF;
    }
    &__container {
        display: flex;
        flex-direction: column;
    }

    &__location {
        margin-bottom: 10px;
    }

    &__city {
        font-weight: 400;
        color: #666;
    }

    &__map-link {
        font-size: 12px;
        margin-left: 10px;
        color: #007bff;
        text-decoration: none;
    }

    &__contacts {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        margin-bottom: 10px;
    }

    &__phone{
        color:#46466E ;
    }
    &__email {
        color: #007bff;
        text-decoration: none;
    }
    &__span{
        background-color: #B3B3BA;
        display: flex;
        width: 6px;
        height: 6px;
        border-radius: 10px;
        margin: 0 7px;
    }
    &__legal {
        font-size: 12px;
        color: #999;
    }

    &__copyright {
        display: block;
    }
    &__svg:hover,
    &__email:hover{
        color: red;
    }
}
.conteiner-services{
    width: 75%;
    margin: 0 auto;
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__p{
        color: white;
        margin-top: 28px;
        text-align: center;    
    }
    &__btn{
        width: 208px;
        height: 56px;
        background-color: #24A3FF;
        border-radius: 12px;
        color: white;
        border-style: none;
        margin-top: 28px;
    }
}
.body-item{
    padding: 30px;
    margin-top: 30px;
    color: white;
    border-top: 2px solid #e2e0ff;
    &__h2{
        font-size: 22px;
        margin-top: 30px;
    }
    &__div{
        margin: 30px 0 0 0;
        display: flex;
        justify-content: space-between;
    }
    &__ul{
        width: 47.22222222222222%;
        li{
            margin-top: 15px;
            font-weight: 400;
            font-size: 18px;            
            &::marker{
                color: #F0145A;
            }
        }
    }
}

@media screen and (min-width:1920px) {
    .conteiner{
        width: 83.33333333333333%;
    }
    .cooperation{
        width: 89.58333333333333%;
        margin: 0 auto;
        &__div{
            &:first-child{
                border-radius: 12px 0 0 0;
            }
            &:nth-child(4){
                border-radius: 0 12px 0 0;    
            }
            &:nth-child(9){
                border-radius: 0 0 0 12px ;    
            }
            &:last-child{
                border-radius: 0 0 12px 0;
            }
        }
    }
}
@media screen and (max-width:1024px) {
    .conteiner,
    .compani{
        width: 88.28125%;
    }
    .compani{
        &__div{
            width: 44.80088495575221%;
        }
    }
    .slick{
        &__div-img{
            width: 400px;
            height: 528px;
            img{
                border-radius:12px 0 0 12px;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        &__div-info{
            width: 49.21875%;
        }
    }
}
@media screen and (max-width:768px) {
    .conteiner{
        width: 84.375%;
    }
    .slick{
        &__div{
            flex-direction: column;
        }
        &__div-img{
            width: 100%;
            height: 500px;
            img{
                border-radius:12px 12px 0 0;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        &__div-info{
            width: 100%;
        }
    }
    .header{
        padding-top: 105px;
        &__div{
            flex-direction: column;
            align-items:flex-start;
        }
        &__menu{
            margin-top: 30px;
            position: relative;
            align-items:flex-start;
        }
        &__menu-info{
            position: absolute;
            bottom:145px;
        }
    }
    .compani{
        flex-direction: column;
        width:84.375%;
        &__span{
            width: 80%;
            height: 4px;
        }
        &__nav{
            justify-content: baseline;
            flex-direction: row;
            width: 100%;
            font-size: 16px;
        }
        &__div{
            width: 100%;
        }
    }
    .services{
        &__section-div{
            width: 44%;
        }
    }
    .cooperation{
        &__div{
            width: 33%;
        }
    }
    .publications{
        &__div{
            flex-wrap: wrap;
        }
    }
    .section{
        &:nth-child(-n+2){
            width: 45%;
        }
        &:last-child{
            width: 100%;
            margin-top: 60px;
        }
    }
}

@media screen and (max-width:540px) {
    .conteiner{
        width: 84.375%;
    }
    .conteiner-375width{
        width: 84.375%;
    }
    .header{
        padding-bottom: 200px;
        padding-top: 60px;
        position: relative;
        &__menu-info{
            top: 0;
            left: 0;
            height: 25px;
            width: 93%;
            background: #F5F5FA33;
            padding: 10px 15px;
        }
        &__div{
            flex-direction:row;
            align-items:flex-start;
        }
        &__marker,
        &__menu-info-facebook,
        &__menu-info-map{
            visibility: hidden;
            position: absolute;
        }
        &__menu{
            position: static;
            display:contents;
        }
        &__logo{
            svg{
                width: 70px;
                height: 32px;
            }
        }
        &__nav{
            display: none;
            width: 97%;
            height: 53.8230884557721vb;
            position: absolute;
            right: 8px;
            background-color: #E6E6F0;
            border-radius: 12px 12px 0 0;
            top: 45.1769115442279vb;
            padding-bottom: 12px;
            a:nth-child(1n+2){
                width: 88%;
                background-color: #F5F5FA;
                border-radius: 8px;
                text-align: center;
                color: #24A3FF;
            }
            div{
                width: 100%;
                display: flex;
                justify-content: end;
            }
        }
        &__button{
            display: block;
        }
        &__box{
            width: max-content;
            &:hover{
                background: #e6e6f048;
                border-radius: 8px ;
            }
        }
        &__nav-btn{
            padding: 12px 12px 0 0;
        }
        &__btn{
            display: block;
        }
        &__h3{
            font-size: 20px;
        }
    }
    .services{
        &__section-div{
            width: 84%;
        }
    }
    .slick{
        &__div{
            flex-direction: column;
        }
        &__div-img{
            width: 100%;
            height: 500px;
            img{
                border-radius:12px 12px 0 0;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        &__h2{
            height: 407px;
        }
        &__p{
            padding: 0;
        }
    }
    .title{
        font-size: 30px;
    }
    .cooperation{
        &__div{
            width: 100%;
            &:nth-child(n+7){
                display: none;
            }

        }
    
    }
    .active{
        align-items: center;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 15px;
        font-size: 24px;
    }
    .main{
        &__h1{
            margin-top: 129px;
            width: 50%;
        }
    }
    .section{
        &:nth-child(-n+2){
            margin-top: 60px;
            width: 100%;
        }
    }
    .footer{
        flex-direction: column;
        align-items: center;
        &__contacts,
        &__location{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__span{
            display: none;
        }
        &__email,
        &__phone,
        &__map-link{
            margin-top: 10px;
        }
        &__svg{
            margin-top: 21px;
        }
        &__legal{
            margin-top: 30px;
        }
    }
    .body-item{
        &__div{
            margin: 30px 0 0 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__ul{
            width: 100%;
        }
    }
}