*{
    margin: 0px;
    padding: 0px;
}
img{
    width: 100%;
}
.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 16px;
    font-style: normal;
    a{
        text-decoration: none;
    }
}
.conteiner{
    width: 91.66666666666667%;
    margin: 0 auto;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    .header__full{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .header__logolawcompani{
            .header__logo{
                display: flex;
                align-items: self-start;
            }
        }
        .header__menu{
            width:36.21212121212121% ;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .header__menu-info{
                width: 100%;
                padding: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 16px;
                .header__menu-info-language_font{
                    color: #B3B3BA;
                    font-weight: 700;
                    font-size: 12px;
                    a{
                        color: #B3B3BA;
                    }    
                }
                .header__menu-info-language_hover{
                    a{
                        padding: 5px 6.5px;
                        border-radius:8px ;
                    }
                    a:hover{
                        background-color: #FFFFFF33;
                    }
                }
                .header__menu-info-map_font{
                    font-weight: 400;
                    font-size: 16px;
                    padding: 0px;
                    color:#B3B3BA;
                    a{
                        color: #B3B3BA;
                    }    
                }
                .header__menu-info-tel_font{
                    color: #B3B3BA;
                    font-weight: 700;
                    font-size: 16px;
                    a{
                        color: #B3B3BA;
                    }  
                }
                .header__menu-info-facebook{
                    color: #B3B3BA;
                    padding-bottom: 10px;
                    .header__menu-info-facebook-svg{
                        position:relative;
                        top: 6px;
                        fill: #e20707;
                    }
                }
            }
            .header__menu-navigation{
                display:flex;
                justify-content: space-between;
                width: 87.02928870292887%;
            }
            .header__menu-navigation_font{
                font-weight: 700;
                font-size: 16px;
                a{
                    color: #24A3FF;
                }    
            }
            .header__menu-navigation_hover{
                a:hover{
                    text-decoration: underline;
                    text-decoration-thickness: 2px;
                    text-underline-offset: 10px;
                    color: white;
                }
            }
        }
    }
    .header__h1{
        margin-top:261px;
    }
    .header__h1_font{
    }
    .header__ul{
        margin-top: 305px;
    }
    .header__ul_style {
        li{
            list-style-type:  none;
        }
    }    
}
.body__div_bakegraund{
    background-image:url(../img/symbol.svg),linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%) ;
    background-position: center;
    background-repeat:no-repeat;
    background-position: top;
}
.header_dark{
    .header__logo-svg{
        fill: white;
    }
}
.div__ifoconpani{
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: 0 auto;
    .div__ifoconpani-idea{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
        gap: 15px;
        width: 34.72222222222222%;
        height: 274px;
        margin: auto 0;
    }
    
    .div__ifoconpani-idea-font{
        color: #B3B3BA;
        a{
            font-weight: 700;
            font-size:37px ;
        }
        :first-child{
            background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .div__ifoconpani-essence{
        width: 53.7962962962963%;
        height: 217px;
        margin: auto 0;
    }
    .div__ifoconpani-essence-font{
        color: #FFFFFF;
        h2{
            font-weight: 700;
            font-size: 30px;
            line-height: 36.57px;
        }
        p{
            margin-top: 30px;
            font-weight: 400;
            font-size: 19px;
        }
    }
    .div__lain{
        display: flex;
        width: 3px;
        height: 303px;
        background-color: #FFFFFF4D;
    }
}
.div_suport{
    .div_suport-menu{
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        gap: 60px 0;
        justify-content: space-between;
        
        >div{
            width: 30.3030303030303%;
        }
        .div__img_width{
            padding: 14px;
            display: flex;
            width: 64px;
            height: 64px;
            background-color: white;
            border-radius: 24px;
        }
        .div_suport-menu-court-font{
            h2{
                line-height: 26.82px;
                color: #24A3FF;
                font-weight: 700;
                font-size: 22px;
                margin-top: 30px;
            }
            p{
                text-align: left;
                line-height: 26px;
                margin-top: 15px;
                color: #FFFFFF;
                font-weight: 400;
                font-size: 16px;
            }
        }
    }
    .div_suport-a-link-font{
        a{
            font-weight: 700;
            font-size: 14px;
            color: #24A3FF;
        }
    }
    .div_suport-h2-font{
        margin-top: 15px;
        h2{
            display: table;
            background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
	        -webkit-background-clip: text;
	        -webkit-text-fill-color: transparent;
            font-weight:700;
            font-size: 38px;
        }
    }
}
.team{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    .team__div{
        background-color: #F5F5FA;
        display: flex;
        .team__div-img{
            width: 30.3030303030303%;
        }
        .team__div-info{
            display: flex;
            flex-direction: column;
            width: 69.6969696969697% ;
            height: 344px;
        }
        .team__div-info-font{
            margin-left: 30px;
            a{
                font-weight:700 ;
                font-size:14px;
                color: #24A3FF;
                margin-top: 30px;
            }
            h2{
                font-weight:700 ;
                font-size:38px;
                line-height: 46.32px;
                background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
                -webkit-background-clip: text;
	            -webkit-text-fill-color: transparent;
                margin-top: 5px;
                width: 93.47826086956522%;
            }
            p{
                font-weight:700 ;
                font-size:16px;
                color: #B3B3BA;
                margin-top: 30px;
            }
            p:last-child{
                margin-top: 6px;
                font-weight:400 ;
                font-size:14px;
            }
        }
    }
    .team__div-buton{
        display: flex;
        justify-content: space-between;
        margin: auto auto;
        margin-top: 30px;
        width: 5.65217391304348%;
        div{
            width: 16px;
            height: 16px;
            background-color: #24A3FF;
            border-radius: 50px;
            opacity: 20%;
        }
        
        :first-child{
            opacity: 100%;
        }
    }
}
.trust{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    .trust__img{
        margin-top: 30px;
        display: flex;
        flex-wrap:wrap;
        img{
            width:25%;
        }
    }
    h3{
        margin: 0 auto;
        font-weight: 700;
        font-size: 14px;
        color: #323264;
    }
}
.publications{
    display: flex;
    flex-direction:column;
    padding-top: 30px;
    background-color: #F5F5FA;
    a{
        font-weight:700;
        font-size:14px;
        color: #24A3FF;
        margin-top: 30px;   
    }
    h2{
        margin-top: 10px;
        font-weight:700;
        font-size:38px;
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    .publications__div-info{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
        div{
            padding-bottom: 30px;
            border-radius: 8px;
            background-color: #FFFFFF;
            width: 31.81818181818182%;
            .div_width{
                width: 85.71428571428571%;
                margin: 0 auto;
                .publications__div-span{
                    display: flex;
                    margin-top: 15px;
                    width: 360px;
                    height: 4px;
                    background-color: #E6E6F0;
                }    
            }
            h4{
                margin-top: 30px;
                font-weight:700;
                font-size:16px;
                color: #24A3FF;    
            }
            p{
                margin-top: 15px;
                font-weight:700;
                font-size:12px;
                color: #B3B3BA;
            }
            :last-child{
                color: #000000;
                font-weight:400;
                font-size:14px;   
            }
        }
    }
    .publications__div-span-bottom{
        margin-top: 30px;
        display: flex;
        width: 100%;
        height: 2px;
        background-color: #E6E6F0;
    }
}
.footer{
    padding: 35.5px 0px;
    background-color: #F5F5FA;
    .footer__contact_background{
        display: flex;
        justify-content: space-between;
    }
    p{
        font-weight: 400;
        font-size: 16px;
        color: #B3B3BA;     
    }
    .footer__contact{
        display: flex;
        flex-direction: column;
        width: 30.15151515151515%;
        .footer__contact-map{
            .footer__contact-map-item{
                display: flex;
                justify-content: space-between;
                width: 70.60301507537688%;
                p{
                   color: #000000; 
                }
                a{
                    font-weight: 700;
                    font-size: 12px;
                    color: #24A3FF;
                }
                ::marker{
                    color: #B3B3BA;
                }
            }
        }
        .footer__contact-tel-mail{
            margin-top: 21px;
            .footer__contact-tel-mail-ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .footer__contact-facebook{
                    fill: #24A3FF;
                }
                .footer__contact-tel{
                    a{
                        font-size: 16px;
                        font-weight: 700;
                        color: #46466E;
                    }
                }
                .footer__contact-mail{
                    a{
                        font-size: 16px;
                        font-weight: 700;
                        color: #24A3FF;
                    }
                }
            }
        }
    }
}
.material-symbols-outlined{
    font-size: 100%;
}